# Ignora tudo dentro da pasta data
data/*

# Exceção (!): Não ignora o arquivo .gitkeep
!data/.gitkeep

# Ignorar variáveis de ambiente e credenciais
.env

# Arquivos de validação do notebooks
notebooks/
